<header>
    
    <h1 class="brand-header">
        <img src="{{ '/images/logo.svg' | prepend: site.baseurl }}" alt="">
        <span>{{ site.title }}</span>
    </h1>
    
    <label class="menu__label" for="menu-input">Menu</label>
    <input class="menu__checkbox" type="checkbox" id="menu-input">
    
    <nav class="menu__nav">
        <a href="{{ '/' | prepend: site.baseurl }}">Home</a>
        <a href="{{ '/pages/elements.html' | prepend: site.baseurl }}">Elements</a>
        <a href="{{ '/pages/components.html' | prepend: site.baseurl }}">Components</a>
        <a href="{{ '/pages/style-tile.html' | prepend: site.baseurl }}">Style tile</a>
    </nav>
    
</header>
