article {
    margin: 0;
    padding: $unit;
    background-color: lighten($background-color, 33%);
    border-top: solid 1px $background-color;
    box-sizing: border-box;
}

@media screen and (min-width: 30rem) {
    
    article {
        padding: $unit $unit*2;
    }
       
}

@media screen and (min-width: 50rem) {
    
}