article {
    margin: 0;
    padding: $unit;
    border-top: solid 1px $background-color;
    box-sizing: border-box;
}

@media screen and (min-width: $break-small-medium) {
    
    article {
        padding: $unit*2;
    }
    
}
