button {
    background-color: $highlight-color;
    color: $background-color;
    border: none;
    box-shadow: $unit*0.1 $unit*0.1 $unit*0.05 $unit*0.125 lighten($main-color, 30%);
    padding: $unit*0.5 $unit;
    border-radius: $unit*0.25;
}

button:hover {
    background-color: lighten($highlight-color, 5%);
}

button[disabled] {
    background-color: darken($background-color, 20%);
    box-shadow: none;
}