button,
input[type="submit"],
input[type="button"] {
    background-color: $accent-color;
    color: $background-color;
    box-shadow: 0 $unit*0.1 $unit*0.1 darken($background-color, 30%);
    border: none;
    padding: $unit*0.5 $unit;
    border-radius: $unit*0.25;
    cursor: pointer;
}

input[type="button"] {
    background-color: darken($background-color, 20%);
    color: $main-color;
}

button:hover,
input[type="submit"]:hover {
    background-color: lighten($accent-color, 10%);
}

input[type="button"]:hover {
    background-color: darken($background-color, 10%);
}

button:active,
input[type="submit"]:active,
input[type="button"]:active {
    box-shadow: 0 $unit*0.2 $unit*0.5 darken($background-color, 30%);
}

button[disabled],
input[disabled],
input[disabled]:hover,
input[disabled]:active {
    background-color: darken($background-color, 20%);
    box-shadow: none;
    border: none;
    color: darken($background-color, 5%);
    cursor: default;
}