.cards {
    -webkit-column-count: 1;
    -webkit-column-gap: $unit;
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: $unit;
    column-count: 1;
    column-gap: $unit;
    column-fill: auto;
    padding: 0;
    margin: 0;
    width: 100%;
}

.cards > * {
    background-color: $background-color;
    border: solid 1px darken($background-color, 10%);
    box-shadow: 0 $unit*0.125 $unit*0.125 rgba($foreground-color, 0.15);
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
    margin: 0 0 $unit;
    padding: $unit;
    transition: box-shadow 0.25s;
    width: 100%;
    
    &:link,
    &:visited {
        border: none;
    }
    
    &:hover,
    &:active {
        box-shadow: 0 $unit*0.25 $unit*0.5 $unit*0.125 rgba($foreground-color, 0.15);
    }
    
    & > header {
        margin-top: -$unit;
        margin-left: -$unit;
        margin-right: -$unit;
        padding: $unit;
        font-size: $unit*1.5;
    }
    
    & > footer {
        margin-bottom: -$unit;
        margin-left: -$unit;
        margin-right: -$unit;
    }
}

@media screen and (min-width: $grid-unit*4) {
    
    .cards {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    
}

@media screen and (min-width: $grid-unit*6) {
    
    .cards {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    
}

@media screen and (min-width: $grid-unit*8) {
    
    .cards {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
    
}

@media screen and (min-width: $grid-unit*10) {
    
    .cards {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
    
}
