footer {
    background-color: darken($background-color, 10%);
    color: lighten($foreground-color, 33%);
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    padding: $unit;
    
    a,
    a:link,
    a:visited {
        color: lighten($foreground-color, 20%);
    }
    a:hover,
    a:active {
        
    }
    
}

footer > * {
    width: 100%;
    max-width: $unit*50;
    box-sizing: border-box;
    margin: 0 0 $unit;
}

@media screen and (min-width: 30rem) {
    
    footer {
        padding: $unit*2;
    }
       
}

@media screen and (min-width: 50rem) {
    
    footer {
        margin-top: $unit*2;
    }
    
}
