footer {
    background-color: darken($background-color, 10%);
    color: lighten($foreground-color, 33%);
    margin: 0;
    padding: $unit;
}


@media screen and (min-width: $break-small-medium) {
    
    footer {
        padding: $unit*2;
    }
       
}
