.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}

.grid > * {
    flex: 1 0 $grid-unit;
    box-sizing: border-box;
    margin: 0;
    padding: $unit;
}
