header {
    background-color: darken($primary-color, 10%);
    padding: 0;
    margin: 0;
    height: $unit*4;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: $background-color;
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: $unit*2;
        padding: 0 $unit;
        @extend .truncate;
    }
}

body > header {
    background-color: $primary-color;
}


@media screen and (min-width: $break-small-medium) {
    
    header  {
        padding: 0 $unit;
    }
    
}
