.loading {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: $unit*2 0;
    background-color: lighten($primary-color, 30%);
    padding: $unit*4 0;
    
    canvas {
        width: $unit*30;
        height: $unit*15;
    }
    figcaption {
        margin: 0;
        opacity: 0.75;
        text-transform: lowercase;
        font-size: $unit*1.5;
        color: $background-color;
    }
}
