.loading {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: $unit*4;
    background-color: $primary-color;
}

.loading__icon {
    width: $unit*6;
    height: $unit*6;
    background-color: $background-color;
    animation: loading 5s infinite;
    animation-timing-function: ease-in-out;
}

.loading__text {
    padding-top: $unit;
    color: $background-color;
    text-transform: uppercase;
    letter-spacing: $unit*0.125;
    font-weight: bold;
}

@keyframes loading {
    0% {
        width: $unit*6;
        background-color: $background-color;
        transform: rotate(0deg);
    }
    10% {
        width: $unit*6;
        background-color: $background-color;
        transform: rotate(0deg);
    }
    20% {
        width: 1px;
        background-color: $background-color;
        transform: rotate(0deg);
    }
    21% {
        width: 1px;
        background-color: lighten($primary-color, 30%);
        transform: rotate(0deg);
    }
    30% {
        width: $unit*6;
        background-color: lighten($primary-color, 30%);
        transform: rotate(0deg);
    }
    40% {
        width: $unit*6;
        background-color: lighten($primary-color, 30%);
        transform: rotate(0deg);
    }
    50% {
        width: $unit*6;
        background-color: lighten($primary-color, 30%);
        transform: rotate(360deg);
    }
    60% {
        width: $unit*6;
        background-color: lighten($primary-color, 30%);
        transform: rotate(360deg);
    }
    70% {
        width: 1px;
        background-color: lighten($primary-color, 30%);
        transform: rotate(360deg);
    }
    71% {
        width: 1px;
        background-color: $background-color;
        transform: rotate(360deg);
    }
    80% {
        width: $unit*6;
        background-color: $background-color;
        transform: rotate(360deg);
    }
    90% {
        width: $unit*6;
        background-color: $background-color;
        transform: rotate(360deg);
    }
    100% {
        width: $unit*6;
        background-color: $background-color;
        transform: rotate(0deg);
    }
}