main {
    background-color: $background-color;
    display: flex;
    flex-flow: column;
    align-items: center;
    
    & > * {
        width: 100%;
        max-width: $unit*50;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 50rem) {
    
    main {
        margin-top: $unit*2;    
    }
    
}