nav {
    margin: 0;
    padding: 0;

    a,
    a:link,
    a:visited {
        border-bottom: none;
        border-top: solid 1px rgba($foreground-color, 0.12);
        display: block;
        padding: $unit;
        margin: 0;
    }
    a:hover,
    a:active {
        background-color: rgba($primary-color, 0.2);
    }
}

header nav {
    background-color: $secondary-color;
    
    a,
    a:link,
    a:visited {
        display: inline-block;
        padding: $unit*0.75 $unit;
        color: $background-color;
        margin: 0;
        border: none;
        box-sizing: border-box;
        border-top: solid $unit*0.5 transparent;
        border-bottom: solid $unit*0.5 transparent;
    }
    a:hover,
    a:active {
        border-bottom: solid $unit*0.5 $primary-color;
        background-color: transparent;
    }
}


@media screen and (min-width: $break-small-medium) {
    
    nav {
        
        a,
        a:link,
        a:visited {
            padding: $unit $unit*2;
        }
    }
    
}