section {
    margin: 0;
    padding: $unit;
    box-sizing: border-box;
}

@media screen and (min-width: 30rem) {
    
    section {
        padding: $unit $unit*2;
    }
       
}

@media screen and (min-width: 50rem) {
    
}