body,
main {
    
}

body {
    
}

main {
    padding: $unit*2;
}

aside {
       
}

article {
    background-color: $background-color;
    padding: $unit*2;
    margin: $unit 0;
    box-shadow: 0 $unit*0.1 $unit*0.1 darken($background-color, 30%);
}

section {
    padding: $unit*2;
}

header {
    background-color: $primary-color;
    margin: 0;
    padding: $unit*2;
    color: $background-color;
    box-shadow: 0 $unit*0.3 $unit*0.3 darken($background-color, 30%);
    
    a,
    a:link,
    a:visited {
        color: lighten($accent-color, 10%);
    }
    a:hover,
    a:active {
        color: lighten($accent-color, 20%);
    }
    
}

footer {
    background-color: $secondary-color;
    color: $background-color;
    padding: $unit*2;
    margin: 0;
    
    a,
    a:link,
    a:visited {
        color: lighten($accent-color, 10%);
    }
    a:hover,
    a:active {
        color: lighten($accent-color, 20%);
    }
    
}
