main {
    padding: $unit*2;
}

article {
    background-color: $background-color;
    padding: $unit*2;
    margin: $unit 0;
    box-shadow: 0 $unit*0.1 $unit*0.1 darken($background-color, 30%);
}

section {
    padding: $unit*2;
}

nav {
    a,
    a:link,
    a:visited {
        border-top: solid 1px rgba($foreground-color, 0.12);
        display: block;
        padding: $unit*0.5 $unit;
        background-color: $background-color;
        color: $accent-color;
        border-radius: $unit*0.25;
    }
    a:hover,
    a:active {
        background-color: $accent-color;
        color: $background-color;
    }
}

header {
    background-color: $primary-color;
    margin: 0;
    padding: $unit*2;
    color: $background-color;
    box-shadow: 0 $unit*0.3 $unit*0.3 darken($background-color, 30%);
    
    a,
    a:link,
    a:visited {
        color: lighten($accent-color, 10%);
    }
    a:hover,
    a:active {
        color: lighten($accent-color, 20%);
    }
    nav {
        a,
        a:link,
        a:visited {
            display: inline-block;
            padding: $unit;
            background-color: darken($primary-color, 10%);
            color: $background-color;
            border: none;
            border-bottom: solid $unit*0.25 $primary-color;
        }
        a:hover,
        a:active {
            border-color: $accent-color;
        }
    }
}

footer {
    background-color: $secondary-color;
    color: $background-color;
    padding: $unit*2;
    margin: 0;
    
    a,
    a:link,
    a:visited {
        color: lighten($accent-color, 10%);
    }
    a:hover,
    a:active {
        color: lighten($accent-color, 20%);
    }
    
}
