table {
    width: 100%;
    border-collapse: collapse;
}

thead,
tbody,
tr {
    margin: 0;
}

th,
td {
    padding: $unit*0.5;
    text-align: left;
    margin: 0;
}


@media screen and (max-width: $break-small-medium) {
    
    table,
    tbody {
        display: block;
    }
    
    thead {
        display: none;
    }
    
    tr {
        display: flex;
        flex-flow: row wrap;
        margin: 0 0 $unit*0.125;
        background-color: darken($background-color, 5%);
    }
    
    th,
    td {
        display: inline-block;
        
        &:first-child {
            font-weight: bold;
        }
    }
    
}


@media screen and (min-width: $break-small-medium) {
    
    th,
    td {
        border-bottom: solid 1px darken($background-color, 10%);
    }
    
}
