/*
 * SASS theme variables
 */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
$base-font: 'Roboto', sans-serif;

/* Colors */
$primary-color: #205F7F;
$secondary-color: #A0A5A8;
$accent-color: #E0182B;
$background-color: #fff;
$foreground-color: #333;
$alert-color: #7f2020;
$success-color: #307f20;

/* Units */
$unit: 1rem;
$grid-unit: $unit*10;

/* Breakpoints */
$break-xsmall-small: $unit*30;
$break-small-medium: $unit*40;
$break-medium-large: $unit*50;
$break-large-xlarge: $unit*70;
