body {
    font-size: $unit;
    line-height: 1.25;
    font-family: $base-font;
    color: rgba($foreground-color, 0.87);
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size-adjust: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: $unit 0;
    font-weight: normal;
}

h1 {
    font-size: $unit*2;
    line-height: 1.25;
}

h2 {
    font-size: $unit*1.625;
    line-height: 1.15384615;
}

h3 {
    font-size: $unit*1.375;
    line-height: 1.13636364;
}

h4 {
    font-size: $unit*1.125;
    line-height: 1.11111111;
}

h5 {
    font-size: $unit*0.75;
    line-height: 1.33333333;
    text-transform: uppercase;
}

h6 {
    font-size: $unit*0.5;
    line-height: 2;
    text-transform: uppercase;
    font-weight: bold;
}

blockquote {
    font-size: $unit*1.25;
    line-height: 1.25;
    color: rgba($foreground-color, 0.54);
}

@media (min-width: 43.75em) {
    
    body {
        font-size: $unit;
        line-height: 1.375;
    }
    
    h1 {
        font-size: $unit*2.5;
        line-height: 1.125;
    }
    
    h2 {
        font-size: $unit*2;
        line-height: 1.25;
    }
      
    h3 {
        font-size: $unit*1.5;
        line-height: 1.25;
    }
      
    h4 {
        line-height: 1.22222222;
    }
      
    blockquote {
        font-size: $unit*1.5;
        line-height: 1.45833333;
    }
    
}

@media (min-width: 56.25em) {
  
    h1 {
        font-size: $unit*3;
        line-height: 1.05;
    }
    
    h2 {
        font-size: $unit*2.25;
        line-height: 1.25;
    }
    
    h3 {
        font-size: $unit*1.75;
        line-height: 1.25;
    }
    
}
