footer {
    background-color: $main-color;
    color: $background-color;
    padding: $unit $unit*2;
    margin: 0;
    
    a,
    a:link,
    a:visited {
        color: lighten($accent-color, 10%);
    }
    a:hover,
    a:active {
        color: lighten($accent-color, 20%);
    }
    
}