button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    background-color: var(--success);
    color: var(--grey0);
    box-shadow: 0 .1rem 0.1rem var(--grey10);
    border: none;
    padding: .5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-bottom: 0.33rem;
}

input[type="button"],
form button,
input[type="reset"] {
    background-color: var(--success);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: var(--success);
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
form button:active,
input[type="reset"]:active {
    background-color: var(--success);
}

button[disabled],
input[disabled],
input[disabled]:hover,
input[disabled]:active {
    opacity: .5;
    box-shadow: none;
    cursor: default;
}