button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    font: inherit;
    background-color: var(--grey0);
    border: solid .125rem var(--primary);
    border-radius: .125rem;
    box-shadow: var(--shadow-dim);
    color: var(--primary);
    cursor: pointer;
    display: inline-block;
    font-size: .9rem;
    height: 2.25rem;
    margin-bottom: 0.25rem;
    padding: .33rem .66rem;
    width: auto;
    outline: none;
    transition: all .2s;
}

input[type="submit"] {
    background-color: var(--primary);
    color: var(--grey0);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
    box-shadow: var(--shadow-dark);
    background-color: hsl(var(--color1), 80%, 40%);
    border-color: hsl(var(--color1), 80%, 40%);
    outline: none;
    color: var(--grey0);
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    background-color: hsl(var(--color1), 80%, 30%);
    border-color: hsl(var(--color1), 80%, 30%);
}

button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled {
    box-shadow: none;
    cursor: default;
    background-color: transparent;
    border-color: var(--grey2);
    color: var(--grey4);
}