button,
form button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    background-color: var(--primary);
    color: var(--grey0);
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    margin-bottom: 0.33rem;
    font-size: 1em;
    border: solid 1px var(--primary);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: hsl(var(--color1), 80%, 30%);
    border-color: hsl(var(--color1), 80%, 30%);
    box-shadow: 0 .25rem .5rem  var(--grey5);
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
form button:active,
input[type="reset"]:active {
    background-color: hsl(var(--color1), 80%, 30%);
    border-color: hsl(var(--color1), 80%, 30%);
}

button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
form button:focus,
input[type="reset"]:focus {
    box-shadow: 0 .25rem .5rem  var(--grey5);
    outline: none;
}

button[disabled],
input[disabled],
input[disabled]:hover,
input[disabled]:active {
    opacity: .5;
    box-shadow: none;
    cursor: default;
    background-color: hsl(var(--color1), 40%, 50%);
    border-color: hsl(var(--color1), 40%, 50%);
}