fieldset {
    display: block;
    padding: 1rem 0;
    border: none;
}

legend {
    margin: 0;
    padding: 0;
    position: static;
    top: 0;
    bottom: 0;
}

label {
    display: block;
}

input,
textarea,
select {
    display: inline-block;
    border: solid 1px var(--grey3);
    padding: 0.25rem 0.5rem;
    background-color: var(--grey0);
    color: var(--grey10);
    font-size: 1rem;
}

input:focus,
textarea:focus,
select:focus {
    box-shadow: 0 .25rem .5rem var(--grey5);
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    border-color: var(--danger);
}

input:required:valid::after,
textarea:required:valid::after,
select:required:valid::after {
    content: '✔';
    display: block;
    color: var(--success);
}

input[type="text"],
input[type="search"],
input[type="password"],
textarea,
select {
    width: 100%;
    max-width: 45rem;
    text-overflow: ellipsis;
}


/* Styles for select */

select {
    max-width: 100%;
}


/* Styles for textarea */

textarea {
    min-height: 6rem;
}


/* Styles for radio and checkbox input */

input[type="radio"],
input[type="checkbox"] {
    display: block;
    margin: .5rem .25rem;
    
    & + label {
        vertical-align: middle;
        display: block;
        margin: -1.5rem 0 0;
    }
    & + label::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: var(--grey2);
        margin-right: 0.25rem;
        padding: 0.25rem;
        line-height: 1;
        vertical-align: middle;
        text-align: center;
    }
    &:focus + label {
        box-shadow: 0 0.25rem 0.25rem var(--grey5); 
    }
    &:checked + label::before {
        content: '✔';
        color: var(--grey0);
        background-color: var(--primary);
    }
}

input[type="radio"]{
    
    & + label::before {
        padding: 0;
        border-radius: 50%;
        background-color: var(--grey0);
        border: solid .25rem var(--grey2);
    }
    &:checked + label::before {
        content: '';
        background-color: var(--primary);
    }
}