@import './input.css';
@import './input-radio.css';
@import './input-checkbox.css';
@import './textarea.css';
@import './select.css';

fieldset {
    display: block;
    padding: 0;
    margin: 0 0 1.5rem;
    border: none;
}

legend {
    display: block;
    margin: 1rem 0 0;
    padding: 0;
    position: static;
    top: 0;
    bottom: 0;
    font-weight: bold;
}

label {
    display: block;
    margin: .75rem 0 0;
}
