input[type="checkbox"] {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    white-space: nowrap;
    width: 1px;
}

input[type="checkbox"] + label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    margin-top: 0.5rem;
}

input[type="checkbox"] + label::before {
    cursor: pointer;
    background-color: var(--grey0);
    border: .125rem solid var(--grey4);
    content: '';
    display: inline-block;
    height: 1.5rem;
    margin: .125rem .5rem .125rem 0;
    text-align: center;
    transition: all .1s ease-out;
    width: 1.5rem;
}

input[type=checkbox] + label::after {
    display: block;
    content: '';
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 1rem;
    height: 1rem;
    transform: rotate(0deg);
    transition: all .1s ease-out;
  }
  
  input[type=checkbox]:checked + label::after {
    top: .35rem;
    left: .6rem;
    width: .4rem;
    height: .8rem;
    border-right: .25rem solid var(--primary);
    border-bottom: .25rem solid var(--primary);
    transform: rotate(45deg);
    position: absolute;
  }

input[type="checkbox"]:focus + label {
    box-shadow: 0 0.25rem 0.25rem var(--grey5);
}

input[type="checkbox"]:disabled + label {
    color: var(--grey4);
    cursor: inherit;
}

input[type="checkbox"]:disabled + label::before {
    background-color: var(--grey2);
    border-color: var(--grey2);
}
