select {
    background-color: var(--grey0);
    border: solid 1px var(--grey3);
    color: var(--grey10);
    display: inline-block;
    font: inherit;
    letter-spacing: inherit;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    text-overflow: ellipsis;
    width: auto;
    word-spacing: inherit;
}

select:focus,
select:hover {
    outline: none;
    border-color: var(--grey4);
    box-shadow: var(--shadow-dark);
}

select:disabled {
    background-color: var(--grey2);
    color: var(--grey4);
    border-color: var(--grey2);
    box-shadow: none;
}
